
@model List<PublicContentPost>
@using Syncfusion.EJ2;
@{
    ViewBag.Title = "Index";

}
<div >
    <div class="card">
        <div class="card-header">
            <a href="~/Post/CreatePost" class="btn btn-primary float-right btn-sm">Add</a>
            <h3 class="text-primary">Post List</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">@*
                    @Html.EJS().Grid("GridS").AllowGrouping().Height("300").Width("auto").AllowExcelExport().AllowPdfExport().ShowColumnChooser().AllowResizing().Columns(col =>
               {
                   col.Field("PostName").HeaderText("Post Type").Width("120").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
                   col.Field("PreviewImage").HeaderText("Preview Image").Width("150").Add();
                   col.Field("DetailImage").HeaderText("Detail Image").Width("130").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
                   col.Field("PostTitle").HeaderText("Post Title").Width("120").Add();
                   col.Field("PostContent").HeaderText("Post Content").Width("120").Add();
                   col.Field("action").Template("#action").HeaderText("Action").Width("70").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Left).Add();

               }).AllowSorting().PageSettings(page => page.PageSize(10)).Toolbar(new List<string> { "Search", "ColumnChooser" }).Render()*@


                    @{
                        var modelgrid = new GridModel()
            {
                GridId = "GridS",
                AllowExcelExport = true,
                AllowPdfExport = true,
                AllowGrouping = true,
                Width = "auto",
                Height = "auto",
                //AddSerialN = true;
                Columns = new List<Column>
                    {
                    new Column{FieldName="PostName",HeaderText="Post Type",Width="120",AutoFit=true,TextAlign=TextAlign.Left},
                    new Column{FieldName="PreviewImage",HeaderText="Preview Image",Width="150"},
                    new Column{FieldName="DetailImage",HeaderText="Detail Image",Width="130",TextAlign=TextAlign.Left},
                    new Column{FieldName="PostTitle",HeaderText="Post Title",Width="120",TextAlign=TextAlign.Right},
                    new Column{FieldName="PostContent",HeaderText="Post Content",Width="120",AutoFit=true,TextAlign=TextAlign.Left},
                    new Column{FieldName="action",Template="#action",HeaderText="Action",Width="70",AutoFit=true,TextAlign=TextAlign.Left},
           

                    },
                AllowFiltering = true,
            };
                    }
                    @await Html.PartialAsync("_grid",modelgrid)
                </div>
                <script type="text/x-jsrender" id="action">
                    <a title="Edit" id="${Id}" href="/Post/PostEdit/${Id}"><i class="fa fa-edit"></i></a>

                    <a title="Delete" id="${Id}" onclick="deleteData(this)" class="edit ml-1"><i class="fa fa-trash"></i></a>

                </script>
            </div>
        </div>
    </div>
</div>
@Html.EJS().ScriptManager();

<script>

    var url1 = '@Url.Action("GetPostList")';
        $.get(url1, null, function (data) {
            var gridObj = document.getElementById("GridS").ej2_instances[0];
            gridObj.dataSource = (data);

        });

        function deleteData(me) {
           
            let id = $(me).attr('id');
            Swal.fire({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover data!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
                customClass: 'swal-wide',
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonText: "Yes, delete it!",
                confirmButtonColor: "#EC6C62"
            })
                .then((willDelete) => {
                    if (willDelete.isConfirmed) {
                        $.get('/Post/Delete?id=' + id, function (response) {
                            if (response.status) {
                                Swal.fire(response.message, {
                                    icon: "success",
                                });
                                var grid = document.getElementById("GridS").ej2_instances[0];
                                grid.refresh();
                            }
                            else {
                                Swal.fire(response.message, {
                                    icon: "error",
                                });
                            }
                        })
                    }
                });
        }
    </script>