@using sms.Models
@inject StaticResources resources

@{
    ViewBag.Title = "ServiceCard";
}
<div class="breadcrumbs ace-save-state" id="breadcrumb">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home ace-icon home-icon">

            </i>
            <a href="@Url.Action("Index", "Dashboard")">Dashboard</a>
        </li>
        <li class="active">
            <a href="@Url.Action("EmployeeReports", "Reports")">Employee Report</a>
        </li>
        <li class="active">
            Service Card
        </li>
    </ul>
</div>
<section class="content" id="idcard">
    <div class="row">
        <div class="col-12 ">
            <div class="card">
                <div class="card-header with-border">
                    <h3 class="card-title"><i class="fa fa-search"></i> Select Criteria</h3>
                </div>
                <div class="card-body">
                    <form method="get" action="ServiceCard" id="idcard">
                        <div class="row">
                            @Html.Partial("_PartialCampusSelector", new PartialCampusViewModels {ParentContainerID = "idcard", ColCssClass = " col-12 col-md-2 col-sm-6 col-lg-2   form-group has-feedback", ForSearch = true, ShowCampus = true})
                            <div class="col-12 col-md-2 col-sm-6 col-lg-2 form-group has-feedback">
                                <label>Emp Code</label>
                                <div class="controls">
                                    <div>
                                        <input type="text" id="empcode" class="form-control" />
                                    </div>
                                    <span class="fa fa-registered form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-sm-4 col-12 pb-2 mt-2 pt-3 form-group has-feedback">
                                <button type="button" class="btn btnSearchStudent btn-primary float-right sico-button sico-btn" id="btnSearch"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-12 pt-2">
            <div id="divReport">

            </div>
        </div>
    </div>
</section>

<script @resources.JavaScript>
    $('#btnSearch').click(function() {
        var campus = $('#Campus').val();
        var empcode = $('#empcode').val();

        var src = '/Content/Reports/ReportViewer/ReportViewer.aspx?report=servicecard&Campus=' + campus + '&EmpCOde=' + empcode;
        var iframe = '<iframe id="reportFrame" width="100%" height="800px" style="background-color:#fff;" scrolling="no" frameborder="0" src="' + src + '" allowfullscreen></iframe>';
        $("#divReport").html(iframe);

        block('#btnSearch');
        const handleLoad = function () {
            $('#divReport').unblock();
            $('#btnSearch').unblock();
        }
        document.getElementById('reportFrame').addEventListener('load', handleLoad, true);
        block('#divReport');
    });
</script>