@{
    ViewBag.Title = "UserDetails";

}

<h2>Users In Role @ViewBag.rolename</h2>


<table class="table">
    <thead>
    <tr>
        <th>S.No</th>
        <th>Role</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @{ var index = 1; }
    @foreach (var user in (string[]) ViewBag.users)
    {
        <tr>
            <td>@index</td>
            <td>@user</td>
            <td>
                <a href="@Url.Action("RemoveUserFromRole", new {username = user, role = ViewBag.rolename})">Remove</a>
            </td>
        </tr>
        index++;
    }

    </tbody>
</table>